.movies {
    width: 100%;
    position: relative;
    height: 100vh;

    &__search {
        width: 30%;
        margin: 15px 30px;
        padding: 10px;
    }

    &__content {
        padding: 50px;
        display: grid;
        column-gap: 100px;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-evenly;
        align-items: center;

        @media (max-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__float_action_button {
        background-color: green;
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 10px;
        color: white;
        font-size: 40px;
        cursor: pointer;
        transition: all .2s ease-in-out;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        box-shadow: 1px 5px 5px rgb(147, 147, 147);
        z-index: 5;
        &:hover {
            scale: 1.1;
        }
    }
}